# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Mac
.DS_Store

# Node.js
node_modules/
npm-debug.log
.npm/

# Vim
*.swp
*.swo

# eclipse
.settings/
.metadata/

# JetBrains
.idea/
*.iml

# log
*.log

# Temp
.temp.json
.temp.yml

# Backup
*.bak
*.backup

# claude
.claude/

# Prompt
.prompt-*.md
.prompt.md
prompt-*.md
prompt.md
